/* https://codepen.io/storm11/pen/pZXxBB */



/* variables */
:root {
    --fontSizeInterface: 2vh;
    --borderRadiusSmall: 0.25vh;
    --borderRadiusLarge: 1.5vh;
    --hoverColor: #F5F5F5;
    --interfaceTextColor: #848484;
    --windowHeaderColor: #9C9C9C;
    /* used in menu background */
    --shade2: #EDEDED;
    --mobile:no; }


/* setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--fontSizeInterface);
    line-height: var(--fontSizeInterface);
    font-family: aktiv-grotesk, helvetica, arial, sans-serif;
    -webkit-tap-highlight-color: transparent;

}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}


div {
    display: inline-block;
    color: var(--interfaceTextColor);
}



/* Menu */
#menuBar {
    height: 5vh;
    width: 100vw;
    background-color: white;
    overflow: hidden;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5vh;

}


#menuBarInner {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    transition: margin-top 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menuItem {
    padding: 1.5vh;
    height: 5vh;
    font-weight: 500;
    border-radius: var(--borderRadiusSmall);
    transition: font-size 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


.menuItem:hover {
    background: var(--hoverColor);
    cursor: pointer;
    font-size: 2.2vh !important;
    user-select: none;
}

.menuItem:active {
    background: var(--activeColor);
    font-size: 2.15vh !important;

}


/* Menu - dropdown */

.dropDown {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 5vh;
    max-width: 30vh;
    z-index: 60;
    background: white;
    opacity: 1;
    transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);


}

.dropDown#fileMenu {
    left: 1.5vh;
}

.dropDown#viewMenu {
    left: 7.5vh;
}

.dropDown#downloadMenu {
    left: 15vh;
}

.dropDown#contactMenu {
    left: 28vh;
}

.dropDown a {
    width: 100%;
    padding: 1.5vh;
}


.dropDown a:hover {
    background: #eeeeee;
}

.dropDown a:active {
    background: rgb(63, 63, 63);
    color: white;
}



/* Desktop  */

#desktop {
    padding: 2vh;
    width: 100%;
    height: 95vh;
    border-top:solid 1px #D2D2D2;    
    display: flex;
    flex-flow: column wrap-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    background: #F5F5F5;
    align-content: flex-start;
    margin-top: -2px;
}

.icon {
    width: 10vh;
    margin-left: 4vh;
    cursor: pointer;
    transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 1;
    margin-bottom: 2vh;
    transform: scale(1);
}

.icon:hover {
    filter: saturate(2) drop-shadow(4px 5px 12px rgba(217, 217, 217, 0.468));
    transform: scale(1.025);
    transition: transform 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);


}

.icon:active {
    filter: brightness(99%) saturate(2);
    transform: scale(1.05);
    transition: transform 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);


}

.iconImg {
    height: 10vh;
    width: 10vh;
    margin-bottom: 0.5vh;
    margin-left: -4px;
}

.iconLabel {
    text-align: center;
    width: 100%;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    white-space: nowrap;
}



/* Window */

#window {
    width: 75vw;
    min-width: 30vw;
    height: 92vh;
    position: absolute;
    max-width: 100vw;
    max-height: 95vh;
    /* left: 1vh;
    top: 6vh; */
    transform: translate(2vh, 2vh), scale(1);
    min-height: 30vh;
    background-color: var(--shade2);
    border-radius: 1.5vh;
    transition: opacity 1.4s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    overflow: auto;
    z-index: 50;
    display: flex;
    padding: 0 1vh;
    flex-direction: column;
}


#window:hover{
    transition: opacity 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#window:active {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);

}

#windowHeader {
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    height: 5vh;
    border-radius: 1.5vh 1.5vh 0 0;
    padding: 1.5vh;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    user-select: none;
    background-color: var(--shade2);
    width: 100%;
    position: absolute;
    left: 0;
}

#windowHeaderText {
    color: var(--windowHeaderColor);
    font-weight: 500;
}

#windowHeader.scrolled {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

#windowContentContainer {
    transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 0 1vh;
    overflow: scroll;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    overflow: scroll;
}

#windowContent {
    margin-bottom: 1vh;
    padding: 11vh 3vh;
    background: white;
    z-index: 10;
    overflow: scroll;
    user-select: text;
    width: 100%;
    overflow: scroll;
    border-radius: 1vh;
}

#windowPastebox {
    overflow: scroll;
    height: 100%;
    width: 100%;

}
/* class that gets applied to the window when it is closed */
.windowClosed {
    opacity: 0;
    transform: scale(0) !important;
    pointer-events: none;    
    transition: opacity 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), transform 3s cubic-bezier(0.215, 0.61, 0.355, 1) !important;
}

.close {
    height: 2vh;
    width: 2vh;
    border-radius: 100%;
    background-color: #C4C4C4;
    transition: background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1)
}

.close:hover {
    background: rgb(255, 88, 88);
    transform: scale(0.9);
    transition: background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

/* typography */
a {
    cursor: pointer;
}



/* Misc */

html {
    background: black;
    overflow: hidden;
}

#screen {
    background: #F5F5F5;
    border-radius: 1.5vh;
    height: 100vh;
    overflow: hidden;
}

:focus {
    outline: none !important;
}

.hide {
    /* display: none; */
    pointer-events: none;    
    opacity: 0;
}


/* Amnimation  */
/* animating in the top menu bar by removing margin top */
.slideIn {
    margin-top: 100px !important;
}

.invisible {
    opacity: 0 !important;
    transform: scale(0.1);
    pointer-events: none;    

}


/* dragging */

.resize-drag {
    touch-action: none;
    box-sizing: border-box;
}


/* .ptyIcon {
    height: 1.9vh;
    width: 2.4vh;
    margin-left: 0.5vh;
} */


@media only screen and (max-width: 680px) {

    :root {
        --mobile:yes;
    }


    .iconIllustration {
        display: none;
    }

    #desktop{
        height:60vh;
    }

    #window {
        /* left: 0;
        top: 5vh; */
        transform: translate(0, 0)!important;
        width: 100vw;
        height: 90vh!important;
        border-radius: 0;
    }

    #windowPastebox {
        padding: 0 0.5vh;

    }

    .close {
        background-color: #d8b6b6;
    }

    #windowHeader{background-image:none!important;}

    #windowHeaderText {
        margin-left: 1vh;

    }

    #windowContent {
        padding: 7.5vh 2vh;
    }

    section h1 {
        color: #777777;
        line-height: 122%;
        /* font-size: 33px; */
        font-size:calc(3.8vh + 1vw);
    }

}


/* dark mode - portfolio*/

#window.portfolio{
    background:#434343;
    }

#window.portfolio #windowHeader{
background: #393939 ;
/* background: #393939 url(./images/folioHandle.png) no-repeat center center; */
background-size: contain;

}

#window.portfolio #windowContent{
    background:#434343;
    }


#window.portfolio #windowPastebox #windowContent section{
    max-width: calc(350px + 55%);
    width:100%;
    margin: 0 auto;    }