/* setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--fontSizeRegular);
    line-height: var(--fontSizeRegular);
    font-family: aktiv-grotesk, helvetica, arial, sans-serif;
}


/* variables */
:root {
--headingFont: aktiv-grotesk, helvetica, arial, sans-serif;
--bodyFont: noto-sans, helvetica, arial, sans-serif;

--windowPColor:rgb(154, 154, 154);
--windowHeadColor:#8C8C8C;
--space1:3vh;
--space2:5vh;
--space3:7.5vh;


}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}


div {
    display: inline-block;
}



p,
p *,
li {
    font-weight: 400;
    font-size: 2vh;
    line-height: 165%;
    color:var(--windowPColor);
    margin-bottom:var(--space1);
}



h1 {

}

h2 {

}


h3 {

}



h4 {


}

li {
    margin-left: 2vh;
    padding: 0 0 1.5vh 0;
}

ul {
    list-style: none;
    margin-bottom: 2.5vh !important;
}

ul li::before {
    content: "\2022";
    color: #0000ff;
    font-weight: bold;
    display: inline-block;
    width: 1vh;
    margin-left: -2vh;
    margin-right: 1vh;

}


p,h1,h2,h3,h4,ul {
    max-width: calc(350px + 45%);
    margin: 0 auto;
}


.emph {
    color:var(-windowHeadColor);
    font-weight: bold;
}


.pageCurl {
    background-image: url(./images/pagecurl.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 7.5vh;
}

#windowContent {
    transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 7.5vh 2.5vh 2.5vh 2.5vh;
    padding-top: calc(5vh+ 5vw);
    background: white;
    z-index: 10;
    overflow: scroll;
    user-select: text;
    width: 100%;
}