/* setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: aktiv-grotesk, helvetica, arial, sans-serif;
}


/* variables */
:root {
    /* this is modified through javascript on resize. This allows the vh inside of the object window act like the vh outside of the object window.  */

    --headingFont: aktiv-grotesk, helvetica, arial, sans-serif;
    --bodyFont: noto-sans, helvetica, arial, sans-serif;

    --windowPColor: #B7B7B7;
    --windowHeadColor: #8C8C8C;
    --space1: calc(1.5vh + 1vw);
    --space2: calc(2.5vh + 1.25vw);
    --space3: calc(3.75vh + 1.8vw);

    --fontSizeP: calc(1vh +0.5vw);
    --fontSizeH2: calc(2vh + 1vw);
    --fontSizeH1: calc(2.75vh + 1.4vw);
}


html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}


div {
    display: inline-block;
}


p,
p *,
li {
    font-family: var(--bodyFont);
    font-weight: 400;
    font-size: var(--fontSizeP);
    line-height: 165%;
    color: var(--windowPColor);
    margin-bottom: var(--space1) !important;
}



h1 {
    font-family: var(--headingFont);
    color: var(--windowHeadColor);
    font-weight: bold;
    font-size: 5vh;
    line-height: 110%;
    font-size: var(--fontSizeH1);
    margin-bottom: var(--space2) !important;

}

h2 {
    font-family: var(--headingFont);
    font-style: normal;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: var(--space2);
    color: #A4A3D6;
    font-size: var(--fontSizeH2);

}


h3 {}



h4 {
    color: var(--windowHeadColor);
    margin-bottom: var(--space1) !important;
    font-weight: 600;
    font-size: var(--fontSizeP);

    line-height: 165%;
    text-transform: capitalize;
}


h5 {
    font-style: italic;
    font-weight: 500;
    font-size: var(--fontSizeP);
    line-height: 110%;
    color: #D2D2D2;
    margin-bottom: var(--space2) !important;
    letter-spacing: 0.25em;
}

li {
    margin-left: 2vh;
    padding: 0 0 1.5vh 0;
}

ul {
    list-style: none;
    margin-bottom: 2.5vh !important;
}

ul li::before {
    content: "\2022";
    color: #0000ff;
    font-weight: bold;
    display: inline-block;
    width: 1vh;
    margin-left: -2vh;
    margin-right: 1vh;

}


section {
    padding-bottom: var(--space2);
    display: block;
    max-width: calc(350px + 45%);
    margin: 0 auto;
}


.emph {
    color: var(-windowHeadColor);
    font-weight: bold;
    text-transform: capitalize;

}


#pageCurl {
    background-image: url(./images/pagecurl.png);
    transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 1vh;
    top: 4.9vh;
    width: 100%;
    height: 5vh;
    opacity: 1;
}

.buttonContainer {
    margin: 0 -1vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: var(--space3) !important;
}

.buttonContainer a {
    margin: 0 1vh 2vh 1vh;
    cursor: pointer;
    padding: 1vh;
    background: #EAEDFF;
    color: #918FDE;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vh;
    line-height: 110%;

}



.iconIllustration {
    margin-bottom: var(--space1);
    float: right;
    width: 10vh;
    max-width: 18%;
    margin-left: 1vh;
}
